body {
    margin: 0;
    font-family: "AdamCgPro", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #222;
}

::selection {
    color: rgb(148, 212, 255);
}

/* CUSTOM FONTS */
@font-face {
    font-family: "AdamCgPro";
    src: url(./fonts/adam-cg-pro.regular.otf) format("opentype");
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.video__icon {
    width: 50px;
    transform: scale(0.5);
}
.video__icon .circle--outer {
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto 5px;
    position: relative;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out infinite;
    animation: circle 2s ease-in-out infinite; }
.video__icon .circle--inner {
    background: #ffffff;
    left: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    opacity: .8; }
.video__icon .circle--inner:after {
    content: '';
    display: block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    top: -4px;
    left: -4px;
    position: absolute;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out .2s infinite;
    animation: circle 2s ease-in-out .2s infinite; }
.video__icon p {
    color: #000;
    text-align: center; }

@-webkit-keyframes circle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1); }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0; } }

@keyframes circle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    } }