body {
    margin: 0;
    font-family: "AdamCgPro", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #222;
}

::selection {
    color: rgb(148, 212, 255);
}

/* CUSTOM FONTS */
@font-face {
    font-family: "AdamCgPro";
    src: url(./fonts/adam-cg-pro.regular.otf) format("opentype");
}
